#message-form {
  display: flex;
  flex-direction: row;
  max-width: 30em;
  margin: auto;
  border-radius: 30%;
  height: 50px;
}

#submit {
  margin-top: 20px;
}

#error {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
