ul.navbar-nav {
  background-color: #00356b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li.navitem {
  margin: auto;
}

a.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

a.nav-link.active {
  color: #a6ffdc;
}

#logo {
  padding: 8px;
  background-color: #00356b;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.navIcon {
  margin-right: 5px;
}
div.messagecard{
background-color: whitesmoke;
position: static;
}