aside{
display: flex;
flex-direction: row;
align-items: flex-start;
flex-flow: row wrap;
opacity:0.77;
font-style: oblique;
font-size: x-small;

}
FormInput#comments{
	background-color: silver;
	border-radius: 40px;
	padding:5px

}
Card{
	text-shadow: 1px 1px 2px black;
	box-shadow: 2px 2px 3px black;
}
Form{
	display: flex;
	width:400px;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-content: flex-end;
	justify-self: right;
	opacity: 0.66;

}
ToggleLikeButton{ 
		display:flex;
		justify-content:flex-end;
		flex-direction:row-reverse;
		flex-wrap:wrap-reverse;
	} 

