div.card {
  margin-top: 10px;
  background-color: whitesmoke;
  display: flex;
  width: 2000px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
