/* Button{
	position: relative;
	top:16px;
	left:55px;
font-size:.55em;
	color:#00365B;
	display: flex;
	justify-content:space-between;
	background-color: #00365b; */


#togglebutton{
	background-color:#00365B;
	box-shadow: 2px 2px 3px black;
	opacity:1;
}